.preview-wrapper iframe {
  height: 100%;
  width: 100%;
  background-color: white;
}

.preview-wrapper {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.preview-error {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}

/* fix resize bug when entering into iframe */
.react-draggable-transparent-selection .preview-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}
